@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    --shadow: 0 5px 5px #cbd5e1;
    --background-color: #f1f5f9;
    --card-background-color: #e2e8f0;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    font-size: 36px;
    font-weight: bold;
    padding: 28px;
    text-align: center;
    background-color: var(--card-background-color);
    box-shadow: var(--shadow);
}

main {
    flex: 1;
    display: grid;
    grid-template-rows: 90px 1fr;
}

main > button {
    font-size: 22px;
    font-weight: bold;
    place-self: center;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--background-color);
}

main > button:hover {
    background-color: #e5e7eb;
    cursor: pointer;
}

main > button > svg {
    height: 30px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);

    grid-auto-rows: 300px;
    place-content: center;
    gap: 24px;
}

.books > div {
    box-shadow: 5px 5px 5px #cbd5e1;
    border-radius: 8px;
    background-color: var(--card-background-color);
}

.books > div:hover {
    transform: scale(1.015);
    transition: 0.2s;
}

.book {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.book p {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.new {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: var(--card-background-color);
    padding: 10px 25px;
    border-radius: 8px;
    gap: 20px;
}

form p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

form input,
form button,
.book button {
    font-size: 22px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

form label {
    font-size: 20px;
}

form button {
    background-color: #64748b;
    color: var(--card-background-color);
}

form button:hover {
    background-color: #475569;
    cursor: pointer;
}

form button:focus {
    background-color: #334155;
}

footer {
    font-size: 17px;
    font-weight: 500;
    padding: 14px;
    text-align: center;
}
